.home-card {
  background: white;
  border: thin black solid;
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
}

.home-card nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.home-card nav li {
  margin: 10px 0;
}

.home-card nav button {
  width: 100%;
  justify-content: flex-start;
}

body {
  background: lightgrey;
}